In [1]:
#1. Create a Series using a Python list.
import pandas as pd
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
#2. Create a Series with custom string indices.
data1 = [1, 2, 3, 4, 5]
index = ['a', 'b', 'c', 'd', 'e']
s1 = pd.Series(data1, index=index)
print(s1)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
#3. Create a Series from a dictionary.
d = {'a': 10, 'b': 12, 'c': 33, 'd': 74, 'e': 95}
s = pd.Series(d)
print(s)

a    10
b    12
c    33
d    74
e    95
dtype: int64

In [7]:
#4. Access first 3 elements of a Series.
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
print(s.head(3))

0    1
1    2
2    3
dtype: int64

In [9]:
#5. Filter Series elements greater than 50.
data = [10, 20, 30, 40, 50, 60, 70]
s = pd.Series(data)
print(s[s > 50])

5    60
6    70
dtype: int64

In [11]:
#6. Add two Series with different indices.
s1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s2 = pd.Series([4, 5, 6], index=['b', 'c', 'd'])
print(s1.add(s2, fill_value=0))

a    1.0
b    6.0
c    8.0
d    6.0
dtype: float64

In [13]:
#7. Multiply a Series by a scalar.
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
print(s * 2)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [15]:
#8. Use .multiply() method to multiply with scalar.
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
print(s.multiply(2))

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [17]:
#9. Sort Series by values descending.
data = [5, 2, 8, 1, 9]
s = pd.Series(data)
print(s.sort_values(ascending=False))

4    9
2    8
0    5
1    2
3    1
dtype: int64

In [19]:
#10. Sort Series by index.
data = [5, 2, 8, 1, 9]
index = ['e', 'b', 'c', 'a', 'd']
s = pd.Series(data, index=index)
print(s.sort_index())

a    1
b    2
c    8
d    9
e    5
dtype: int64

In [21]:
#11. Check for null values.
import numpy as np
data = [1, 2, np.nan, 4, 5]
s = pd.Series(data)
print(s.isnull())

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [23]:
#12. Concatenate two Series using concat().
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
print(pd.concat([s1, s2]))

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64

In [27]:
#13. Concatenate two Series using append().
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
print(pd.concat([s1,s2], ignore_index=True))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [29]:
#14. Retrieve first 5 elements using .head()
data = [1, 2, 3, 4, 5, 6, 7, 8, 9]
s = pd.Series(data)
print(s.head(5))

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [31]:
#15. Retrieve last 5 elements using .tail()
data = [1, 2, 3, 4, 5, 6, 7, 8, 9]
s = pd.Series(data)
print(s.tail(5))

4    5
5    6
6    7
7    8
8    9
dtype: int64

In [33]:
#16. Convert Series to DataFrame.
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
df = s.to_frame()
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [35]:
#17. Replace NaN with 0.
data = [1, 2, np.nan, 4, 5]
s = pd.Series(data)
print(s.fillna(0))

0    1.0
1    2.0
2    0.0
3    4.0
4    5.0
dtype: float64

In [37]:
#18. Drop missing values.
data = [1, 2, np.nan, 4, 5]
s = pd.Series(data)
print(s.dropna())

0    1.0
1    2.0
3    4.0
4    5.0
dtype: float64

In [39]:
#19. Check Series data type.
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
print(s.dtype)

int64